<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo" style="width: 100px; height: 100px; border-radius: 5px"/>
    {% endif %}
  </a>
  <h2>{{ site.data.theme.name }}</h2>
  <div id="bio">
    <p>{{ site.data.theme.tagline }}</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
